$bg_primary: hsl(235, 21%, 11%);
$bg-todo: hsl(235, 24%, 19%);
$txt-active: hsl(234, 39%, 85%);
$Light-Grayish-Blue: hsl(236, 33%, 92%);
$Dark-Grayish-Blue: hsl(234, 11%, 52%);
$Very-Dark-Grayish-Blue: hsl(233, 14%, 35%);
$Very-Dark-Grayish-Blue1: hsl(237, 14%, 26%);

$Bright-Blue: hsl(220, 98%, 61%);
//$Check-Background: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%)
